@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(/src/fonts/montserrat.ttf) format('ttf');
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 300px;
    padding: 1em;
    background-color: #f6f6f6;
    color: #105b2c;
}

h2 {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-between;
}

#button, #phone {
    display: block;
    border: none;
    border-radius: 0.5em;
}

#phone {
    background-color: #c7edd5;
    width: 100%;
    height: 2.5em;
    margin: 0 1em 0 0;
}

#phone::placeholder {
    color: #68b685;
}

#phone:focus {
    outline: none;
}

#button {
    width: 120px;
    color: #c7edd5;
    background-color: #25d366;
    box-shadow: #25D36632 0 8px 16px;
    transition: all .2s ease;
}

#button:hover {
    background-color: #1ba852;
}

#button img {
    vertical-align: middle;
    height: 40%;
}

.info-icon {
    font-weight: 900;
    color: #25D366;
    font-size: 1.5em;
    padding: 0;
    line-height: 1em;
    cursor: pointer;
}

/* 
 * Dark Mode 
 */


body.dark {
    background-color: #1e1e1e;
}

body.dark h2 {
    color: #25D366;
}

body.dark #phone {
    background-color: #434C46;
}
